<!-- Okendo Reviews Widget to display all reviews for a single product  -->
{% if shop.metafields.okendo.settings.isWidgetPlusEnabled == true %}
	{% assign renderWidgetPlusContent = true %}
{% elsif shop.metafields.okendo.settings.isWidgetPlusAdminEnabled == true and theme.role == "unpublished" %}
	{% if request.design_mode or theme.role == "unpublished" %}
		{% assign renderWidgetPlusContent = true %}
	{% endif %}
{% endif %}

{% if product != blank %}
    {% capture product_data_attribute %}data-oke-reviews-product-id="shopify-{{ product.id }}"{% endcapture %}
{% endif %}

{% if renderWidgetPlusContent == true %}
{%- if shop.metafields.okendo.WidgetPreRenderBodyStyleTags != blank -%}
    {{- shop.metafields.okendo.WidgetPreRenderBodyStyleTags }}
{%- endif -%}
    <div
        data-oke-widget
        {{ product_data_attribute }}
    >
        {{ product.metafields.okendo.ReviewsWidgetSnippet }}
    </div>
{% else %}
    <div data-oke-reviews-widget data-oke-reviews-product-id="shopify-{{ product.id }}">
      {{ product.metafields.okendo.ProductReviewsWidgetSnippet }}
    </div>
{% endif %}
