<h2 class="section-title">
  Reviews
</h2>

<div class="review-carousel">
  <div class="item">
    <div class="quote-icon">
      <img src="https://cdn.shopify.com/s/files/1/2138/0103/files/Group_2960.png?v=1681303470" alt="image" loading="lazy" width="{{ image.width }}"
      height="{{ image.height }}">
    </div>
    <div class="rating"><img src="https://cdn.shopify.com/s/files/1/2138/0103/files/Group_2825_1.png?v=1681303468" alt="image" loading="lazy" width="{{ image.width }}"
    height="{{ image.height }}"></div>
    <h5 class="title">Exciting</h5>
    <div class="description">
      <p>Pleased with being provided the country and the people now I can plan a trip back with purpose. But first I’m educating myself on the history of Cameroon as well as present day events.</p>
    </div>
    <div class="user">
      <div class="avatar"><img src="https://cdn.shopify.com/s/files/1/2138/0103/files/Ellipse_24.png?v=1681303468" alt="image" loading="lazy" width="{{ image.width }}"
      height="{{ image.height }}"></div>
      <div class="user-details">
        <h5 class="name">Barbara I.</h5>
        <p class="verified"><span>Verified Buyer</span>
          <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.0095 5.53972L10.6776 4.06728L10.8632 2.11814L8.89251 1.68382L7.86078 -0.000488281L6.00476 0.77281L4.14874 -0.000488281L3.11702 1.68382L1.14636 2.11284L1.33197 4.06198L0 5.53972L1.33197 7.01217L1.14636 8.9666L3.11702 9.40092L4.14874 11.0852L6.00476 10.3066L7.86078 11.0799L8.89251 9.39562L10.8632 8.9613L10.6776 7.01217L12.0095 5.53972ZM4.91299 8.188L2.72944 6.06938L3.49914 5.32256L4.91299 6.68908L8.51038 3.19864L9.28009 3.95075L4.91299 8.188Z" fill="#2BA930"/>
          </svg>
        </p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="quote-icon">
      <img src="https://cdn.shopify.com/s/files/1/2138/0103/files/Group_2960.png?v=1681303470" alt="image" loading="lazy" width="{{ image.width }}"
      height="{{ image.height }}">
    </div>
    <div class="rating"><img src="https://cdn.shopify.com/s/files/1/2138/0103/files/Group_2825_1.png?v=1681303468" alt="image" loading="lazy" width="{{ image.width }}"
    height="{{ image.height }}"></div>
    <h5 class="title">Glad to know</h5>
    <div class="description">
      <p>Thank you for providing a little personal historical clarity. I know that this is only a start but it is a nice start. You have sparked an interest in me to learn more about my personal background and the backgrounds of my African people!</p>
    </div>
    <div class="user">
      <div class="avatar"><img src="https://cdn.shopify.com/s/files/1/2138/0103/files/Ellipse_24_1.png?v=1681303468" alt="image" loading="lazy" width="{{ image.width }}"
      height="{{ image.height }}"></div>
      <div class="user-details">
        <h5 class="name">ilex b.</h5>
        <p class="verified"><span>Verified Buyer</span>
          <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.0095 5.53972L10.6776 4.06728L10.8632 2.11814L8.89251 1.68382L7.86078 -0.000488281L6.00476 0.77281L4.14874 -0.000488281L3.11702 1.68382L1.14636 2.11284L1.33197 4.06198L0 5.53972L1.33197 7.01217L1.14636 8.9666L3.11702 9.40092L4.14874 11.0852L6.00476 10.3066L7.86078 11.0799L8.89251 9.39562L10.8632 8.9613L10.6776 7.01217L12.0095 5.53972ZM4.91299 8.188L2.72944 6.06938L3.49914 5.32256L4.91299 6.68908L8.51038 3.19864L9.28009 3.95075L4.91299 8.188Z" fill="#2BA930"/>
          </svg>
        </p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="quote-icon">
      <img src="https://cdn.shopify.com/s/files/1/2138/0103/files/Group_2960.png?v=1681303470" alt="image" loading="lazy" width="{{ image.width }}"
      height="{{ image.height }}">
    </div>
    <div class="rating"><img src="https://cdn.shopify.com/s/files/1/2138/0103/files/Group_2825_1.png?v=1681303468" alt="image" loading="lazy" width="{{ image.width }}"
    height="{{ image.height }}"></div>
    <h5 class="title">Fang People...</h5>
    <div class="description">
      <p>Wow!!! I immediately revealed the results to my living relatives so that the historical tree could continue refining roots of our ancestry. Thank you so very much for the opportunity.</p>
    </div>
    <div class="user">
      <div class="avatar"><img src="https://cdn.shopify.com/s/files/1/2138/0103/files/Ellipse_24_2.png?v=1681303468" alt="image" loading="lazy" width="{{ image.width }}"
      height="{{ image.height }}"></div>
      <div class="user-details">
        <h5 class="name">Tonya Barrett C.</h5>
        <p class="verified"><span>Verified Buyer</span>
          <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.0095 5.53972L10.6776 4.06728L10.8632 2.11814L8.89251 1.68382L7.86078 -0.000488281L6.00476 0.77281L4.14874 -0.000488281L3.11702 1.68382L1.14636 2.11284L1.33197 4.06198L0 5.53972L1.33197 7.01217L1.14636 8.9666L3.11702 9.40092L4.14874 11.0852L6.00476 10.3066L7.86078 11.0799L8.89251 9.39562L10.8632 8.9613L10.6776 7.01217L12.0095 5.53972ZM4.91299 8.188L2.72944 6.06938L3.49914 5.32256L4.91299 6.68908L8.51038 3.19864L9.28009 3.95075L4.91299 8.188Z" fill="#2BA930"/>
          </svg>
        </p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="quote-icon">
      <img src="https://cdn.shopify.com/s/files/1/2138/0103/files/Group_2960.png?v=1681303470" alt="image" loading="lazy" width="{{ image.width }}"
      height="{{ image.height }}">
    </div>
    <div class="rating"><img src="https://cdn.shopify.com/s/files/1/2138/0103/files/Group_2825_1.png?v=1681303468" alt="image" loading="lazy" width="{{ image.width }}"
    height="{{ image.height }}"></div>
    <h5 class="title">Focusing</h5>
    <div class="description">
      <p>Pleased with being provided the country and the people now I can plan a trip back with purpose. But first I’m educating myself on the history of Cameroon as well as present day events.</p>
    </div>
    <div class="user">
      <div class="avatar"><img src="https://cdn.shopify.com/s/files/1/2138/0103/files/Ellipse_24.png?v=1681303468" alt="image" loading="lazy" width="{{ image.width }}"
      height="{{ image.height }}"></div>
      <div class="user-details">
        <h5 class="name">Barbara I.</h5>
        <p class="verified"><span>Verified Buyer</span>
          <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.0095 5.53972L10.6776 4.06728L10.8632 2.11814L8.89251 1.68382L7.86078 -0.000488281L6.00476 0.77281L4.14874 -0.000488281L3.11702 1.68382L1.14636 2.11284L1.33197 4.06198L0 5.53972L1.33197 7.01217L1.14636 8.9666L3.11702 9.40092L4.14874 11.0852L6.00476 10.3066L7.86078 11.0799L8.89251 9.39562L10.8632 8.9613L10.6776 7.01217L12.0095 5.53972ZM4.91299 8.188L2.72944 6.06938L3.49914 5.32256L4.91299 6.68908L8.51038 3.19864L9.28009 3.95075L4.91299 8.188Z" fill="#2BA930"/>
          </svg>
        </p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="quote-icon">
      <img src="https://cdn.shopify.com/s/files/1/2138/0103/files/Group_2960.png?v=1681303470" alt="image" loading="lazy" width="{{ image.width }}"
      height="{{ image.height }}">
    </div>
    <div class="rating"><img src="https://cdn.shopify.com/s/files/1/2138/0103/files/Group_2825_1.png?v=1681303468" alt="image" loading="lazy" width="{{ image.width }}"
    height="{{ image.height }}"></div>
    <h5 class="title">Glad to know</h5>
    <div class="description">
      <p>Thank you for providing a little personal historical clarity. I know that this is only a start but it is a nice start. You have sparked an interest in me to learn more about my personal background and the backgrounds of my African people!</p>
    </div>
    <div class="user">
      <div class="avatar"><img src="https://cdn.shopify.com/s/files/1/2138/0103/files/Ellipse_24_1.png?v=1681303468" alt="image" loading="lazy" width="{{ image.width }}"
      height="{{ image.height }}"></div>
      <div class="user-details">
        <h5 class="name">ilex b.</h5>
        <p class="verified"><span>Verified Buyer</span>
          <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.0095 5.53972L10.6776 4.06728L10.8632 2.11814L8.89251 1.68382L7.86078 -0.000488281L6.00476 0.77281L4.14874 -0.000488281L3.11702 1.68382L1.14636 2.11284L1.33197 4.06198L0 5.53972L1.33197 7.01217L1.14636 8.9666L3.11702 9.40092L4.14874 11.0852L6.00476 10.3066L7.86078 11.0799L8.89251 9.39562L10.8632 8.9613L10.6776 7.01217L12.0095 5.53972ZM4.91299 8.188L2.72944 6.06938L3.49914 5.32256L4.91299 6.68908L8.51038 3.19864L9.28009 3.95075L4.91299 8.188Z" fill="#2BA930"/>
          </svg>
        </p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="quote-icon">
      <img src="https://cdn.shopify.com/s/files/1/2138/0103/files/Group_2960.png?v=1681303470" alt="image" loading="lazy" width="{{ image.width }}"
      height="{{ image.height }}">
    </div>
    <div class="rating"><img src="https://cdn.shopify.com/s/files/1/2138/0103/files/Group_2825_1.png?v=1681303468" alt="image" loading="lazy" width="{{ image.width }}"
    height="{{ image.height }}"></div>
    <h5 class="title">Fang People...</h5>
    <div class="description">
      <p>Wow!!! I immediately revealed the results to my living relatives so that the historical tree could continue refining roots of our ancestry. Thank you so very much for the opportunity.</p>
    </div>
    <div class="user">
      <div class="avatar"><img src="https://cdn.shopify.com/s/files/1/2138/0103/files/Ellipse_24_2.png?v=1681303468" alt="image" loading="lazy" width="{{ image.width }}"
      height="{{ image.height }}"></div>
      <div class="user-details">
        <h5 class="name">Tonya Barrett C.</h5>
        <p class="verified"><span>Verified Buyer</span>
          <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.0095 5.53972L10.6776 4.06728L10.8632 2.11814L8.89251 1.68382L7.86078 -0.000488281L6.00476 0.77281L4.14874 -0.000488281L3.11702 1.68382L1.14636 2.11284L1.33197 4.06198L0 5.53972L1.33197 7.01217L1.14636 8.9666L3.11702 9.40092L4.14874 11.0852L6.00476 10.3066L7.86078 11.0799L8.89251 9.39562L10.8632 8.9613L10.6776 7.01217L12.0095 5.53972ZM4.91299 8.188L2.72944 6.06938L3.49914 5.32256L4.91299 6.68908L8.51038 3.19864L9.28009 3.95075L4.91299 8.188Z" fill="#2BA930"/>
          </svg>
        </p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="quote-icon">
      <img src="https://cdn.shopify.com/s/files/1/2138/0103/files/Group_2960.png?v=1681303470" alt="image" loading="lazy" width="{{ image.width }}"
      height="{{ image.height }}">
    </div>
    <div class="rating"><img src="https://cdn.shopify.com/s/files/1/2138/0103/files/Group_2825_1.png?v=1681303468" alt="image" loading="lazy" width="{{ image.width }}"
    height="{{ image.height }}"></div>
    <h5 class="title">Focusing</h5>
    <div class="description">
      <p>Pleased with being provided the country and the people now I can plan a trip back with purpose. But first I’m educating myself on the history of Cameroon as well as present day events.</p>
    </div>
    <div class="user">
      <div class="avatar"><img src="https://cdn.shopify.com/s/files/1/2138/0103/files/Ellipse_24.png?v=1681303468" alt="image" loading="lazy" width="{{ image.width }}"
      height="{{ image.height }}"></div>
      <div class="user-details">
        <h5 class="name">Barbara I.</h5>
        <p class="verified"><span>Verified Buyer</span>
          <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.0095 5.53972L10.6776 4.06728L10.8632 2.11814L8.89251 1.68382L7.86078 -0.000488281L6.00476 0.77281L4.14874 -0.000488281L3.11702 1.68382L1.14636 2.11284L1.33197 4.06198L0 5.53972L1.33197 7.01217L1.14636 8.9666L3.11702 9.40092L4.14874 11.0852L6.00476 10.3066L7.86078 11.0799L8.89251 9.39562L10.8632 8.9613L10.6776 7.01217L12.0095 5.53972ZM4.91299 8.188L2.72944 6.06938L3.49914 5.32256L4.91299 6.68908L8.51038 3.19864L9.28009 3.95075L4.91299 8.188Z" fill="#2BA930"/>
          </svg>
        </p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="quote-icon">
      <img src="https://cdn.shopify.com/s/files/1/2138/0103/files/Group_2960.png?v=1681303470" alt="image" loading="lazy" width="{{ image.width }}"
      height="{{ image.height }}">
    </div>
    <div class="rating"><img src="https://cdn.shopify.com/s/files/1/2138/0103/files/Group_2825_1.png?v=1681303468" alt="image" loading="lazy" width="{{ image.width }}"
    height="{{ image.height }}"></div>
    <h5 class="title">Glad to know</h5>
    <div class="description">
      <p>Thank you for providing a little personal historical clarity. I know that this is only a start but it is a nice start. You have sparked an interest in me to learn more about my personal background and the backgrounds of my African people!</p>
    </div>
    <div class="user">
      <div class="avatar"><img src="https://cdn.shopify.com/s/files/1/2138/0103/files/Ellipse_24_1.png?v=1681303468" alt="image" loading="lazy" width="{{ image.width }}"
      height="{{ image.height }}"></div>
      <div class="user-details">
        <h5 class="name">ilex b.</h5>
        <p class="verified"><span>Verified Buyer</span>
          <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.0095 5.53972L10.6776 4.06728L10.8632 2.11814L8.89251 1.68382L7.86078 -0.000488281L6.00476 0.77281L4.14874 -0.000488281L3.11702 1.68382L1.14636 2.11284L1.33197 4.06198L0 5.53972L1.33197 7.01217L1.14636 8.9666L3.11702 9.40092L4.14874 11.0852L6.00476 10.3066L7.86078 11.0799L8.89251 9.39562L10.8632 8.9613L10.6776 7.01217L12.0095 5.53972ZM4.91299 8.188L2.72944 6.06938L3.49914 5.32256L4.91299 6.68908L8.51038 3.19864L9.28009 3.95075L4.91299 8.188Z" fill="#2BA930"/>
          </svg>
        </p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="quote-icon">
      <img src="https://cdn.shopify.com/s/files/1/2138/0103/files/Group_2960.png?v=1681303470" alt="image" loading="lazy" width="{{ image.width }}"
      height="{{ image.height }}"> 
    </div>
    <div class="rating"><img src="https://cdn.shopify.com/s/files/1/2138/0103/files/Group_2825_1.png?v=1681303468" alt="image" loading="lazy" width="{{ image.width }}"
    height="{{ image.height }}"></div>
    <h5 class="title">Fang People...</h5>
    <div class="description">
      <p>Wow!!! I immediately revealed the results to my living relatives so that the historical tree could continue refining roots of our ancestry. Thank you so very much for the opportunity.</p>
    </div>
    <div class="user">
      <div class="avatar"><img src="https://cdn.shopify.com/s/files/1/2138/0103/files/Ellipse_24_2.png?v=1681303468" alt="image" loading="lazy" width="{{ image.width }}"
      height="{{ image.height }}"></div>
      <div class="user-details">
        <h5 class="name">Tonya Barrett C.</h5>
        <p class="verified"><span>Verified Buyer</span>
          <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.0095 5.53972L10.6776 4.06728L10.8632 2.11814L8.89251 1.68382L7.86078 -0.000488281L6.00476 0.77281L4.14874 -0.000488281L3.11702 1.68382L1.14636 2.11284L1.33197 4.06198L0 5.53972L1.33197 7.01217L1.14636 8.9666L3.11702 9.40092L4.14874 11.0852L6.00476 10.3066L7.86078 11.0799L8.89251 9.39562L10.8632 8.9613L10.6776 7.01217L12.0095 5.53972ZM4.91299 8.188L2.72944 6.06938L3.49914 5.32256L4.91299 6.68908L8.51038 3.19864L9.28009 3.95075L4.91299 8.188Z" fill="#2BA930"/>
          </svg>
        </p>
      </div>
    </div>
  </div>
</div>

  {% if section.settings.button_text != blank %}
    <div class="button-box">
      <a href="{{ section.settings.button_url }}" class="button button-primary">{{ section.settings.button_text }} →</a>
    </div>
  {% endif %}

<script>
  $('.review-carousel').slick({
  dots: false,
  infinite: true,
  arrows: false,
  speed: 300,
  slidesToShow: 3,
  slidesToScroll: 3,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 3,
        arrows: false
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: true
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: true
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});
</script>
            
{% schema %}
{
  "name": "Matriclan Review",
  "tag": "section",
"class": "matriclan-review",
  "settings": [
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Matriclan Review"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
