<section class="register-sec merchendise" id="merchendise">
  <div class="container-fluid">
    <h2 class="bold text-center my-5">{{ section.settings.sec_heading }}</h2>
    <div class="row align-items-center justify-content-center">
      {% for block in section.blocks %}
      <div class="col-md-3">
        <div class="image-sec">
          <a href="{{ block.settings.merchandise_image_url }}">
          <img class="img-fluid" src="{{ block.settings.merchandise_image | img_url: 'original' }}" loading="lazy" width="{{ image.width }}" height="{{ image.height }}">
          </a>
        </div>
        <h3 class="text-center mt-5 bold">{{ block.settings.merchandise_title }}</h3>
      </div>
      {% endfor %}
    </div>      
  </div>
</section>

{% schema %}
  {
    "name": "Merchandise",
    "settings": [
     {
      "id": "sec_heading",
      "type": "text",
      "label": "Section Title",
      "default": "Title" 
     }
    ],
   "blocks": [
            {
              "type": "Image",
              "name": "Image",
              "settings": [
                 {
                  "id": "merchandise_image",
                  "type": "image_picker",
                  "label": "Image"
                 },
                 {
                  "id": "merchandise_image_url",
                  "type": "url",
                  "label": "Image URL"
                 },
                {
                  "id": "merchandise_title",
                  "type": "text",
                  "label": "Title"
                 }
              ]
            }
     ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
<style>
  .image-sec {
	margin-top: 2rem;
}
</style>