<!-- html Start -->

<section class="register-sec">
  	<div class="container">
      <div class="row align-items-center">
        	<div class="col-md-6">
              	<div class="remember-content my-5">
                  <h2 class="bold">{{ section.settings.title_02 }}</h2>
                  
                    {{ section.settings.content_03 }}
                  
                  <a href="{{ section.settings.link_03 }}" id="register-now" class="btn btn-primary blue-button">{{ section.settings.linktext_03 }}</a>
              </div>
            </div>
        	<div class="col-md-6">
              {% if section.settings.right_image_03 != blank %}
              {% assign svg_image_url = section.settings.right_image_03 %}
              	<div class="image-sec">
                  	<img class="img-fluid" src="{{ svg_image_url | asset_url }}" alt="image" loading="lazy" width="{{ image.width }}" height="{{ image.height }}">
              </div>
              {% endif %}
            </div>
      </div>
      
  </div>
</section>

<!-- html End -->

{% schema %}
{
  "name": "Opening Buy Now",
  "settings": [
    {
      "id": "title_02",
      "type": "text",
      "label": "Title",
      "default": "Title"
    },
    {
      "id": "content_03",
      "type": "html", 
      "label": "Add Content"
    },
    {
      "id": "link_03",
      "type": "url",
      "label": "Button link"
    },
    {
      "id": "linktext_03",
      "type": "text",
      "label": "Button text",
      "default": "Click here"
    },
    {
      "id": "right_image_03",
      "type": "text",
      "label": "Add Image (SVG)"
    } 
  ],
  "presets": [
    {
      "name": "Register Now",
      "category": "New Sections"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
