<img class="banner-image desktop-only" src="https://cdn.shopify.com/s/files/1/2138/0103/files/Main-Hero-bg.jpg?v=1697274996" alt="image" loading="lazy" width="100" height="100">
 <div class="desktop-shape-divider">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1600 234.96" preserveAspectRatio="none">
    <path d="M-10.22,235.88C249.78,215.26,512,95,655,98c227-2,301,73,537.58,64.55C1422,165,1599.68,23.9,1599.68,23.9L1600,235Z" fill="#fff"/>
  </svg>
</div> 

<div class="banner-image mobile-only">
  <div class="mobile-shape-divider">
    <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 390 39.43"><path d="M390,22.34V39.43H0S93.85,3.52,170.35,3.49C283.91,3.45,349.92,28.6,390,22.34Z" fill="#fff"/></svg>
  </div> 
</div>

<div class="banner-content">
  <div class="page-width">
    <div class="grid">
      <div class="grid__item left-content">
        <div class="rating">
          <img src="https://cdn.shopify.com/s/files/1/2138/0103/files/Group_2825.png?v=1681280676" alt="image" loading="lazy" width="95"
          height="17">
          <p>600+ Verified Reviews</p>
          <div class="icon">
            <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.2459 5.18795L9.99865 3.80913L10.1725 1.98392L8.3271 1.57722L7.36097 0L5.62297 0.724131L3.88496 0L2.91883 1.57722L1.07348 1.97896L1.24728 3.80417L0 5.18795L1.24728 6.56677L1.07348 8.39694L2.91883 8.80364L3.88496 10.3809L5.62297 9.65177L7.36097 10.3759L8.3271 8.79868L10.1725 8.39198L9.99865 6.56677L11.2459 5.18795ZM4.60061 7.66785L2.55589 5.68393L3.27666 4.9846L4.60061 6.26423L7.96928 2.99572L8.69004 3.70001L4.60061 7.66785Z" fill="#2BA930"/>
            </svg>
          </div>
        </div>

        {% if page.metafields.custom.dynamic_banner_heading %}
          <h1 class="title">{{ page.metafields.custom.dynamic_banner_heading }}</h1>
          {% else %}
           <h1 class="title">It's Time to Find Your African Roots!</h1>
        {% endif %}

        {% if page.metafields.custom.dynamic_banner_regular_price != blank %}
            <p class="banner_price">
              {% if page.metafields.custom.dynamic_banner_regular_price != blank and page.metafields.custom.dynamic_banner_discount_price != blank %}
                <del>{{ page.metafields.custom.dynamic_banner_regular_price | times: 100 | money_without_trailing_zeros }}</del>
                {{ page.metafields.custom.dynamic_banner_discount_price | times: 100 | money_without_trailing_zeros }}

                {% elsif page.metafields.custom.dynamic_banner_regular_price != blank and page.metafields.custom.dynamic_banner_discount_price == blank %}
                  {{ page.metafields.custom.dynamic_banner_regular_price | times: 100 | money_without_trailing_zeros }}
              {% endif %}
            </p>

          {% else %}

          {% if section.settings.regular_price != blank %}
            <p class="banner_price">
              {% if section.settings.regular_price != blank and section.settings.discount_price != blank %}
                <del>{{ section.settings.regular_price | times: 100 | money_without_trailing_zeros }}</del> 
                {{ section.settings.discount_price | times: 100 | money_without_trailing_zeros }}
              {% elsif section.settings.regular_price != blank and section.settings.discount_price == blank %}
                  {{ section.settings.regular_price | times: 100 | money_without_trailing_zeros }}
              {% endif %}
            </p>
          {% endif %}

        {% endif %}

        <div class="description desktop-only">
          {% if page.metafields.custom.banner_main_description %}
            <p>{{ page.metafields.custom.banner_main_description }}</p>
          {% else %}
            <p>Expand how you view yourself and give a priceless gift of self- knowledge to your family and future generations. This at-home DNA test kit reveals the ancestral African country and ethnic group of the maternal line of your family tree, 2,000 years ago.</p>
          {% endif %}
        </div>

        {% if section.settings.enable_timer %}
          <h5 id="countdown-heading">Save 20% Today Only </h5>
          
          {% comment %} Countdown Timer {% endcomment %}
          <div id="countdown-timer">
            <div class="timer-block">
              <span id="timer-hours" class="timer-digit">00</span>
              <span class="timer-label">hours</span>
            </div>
            <div class="timer-block">
              <span id="timer-minutes" class="timer-digit">00</span>
              <span class="timer-label">minutes</span>
            </div>
            <div class="timer-block">
              <span id="timer-seconds" class="timer-digit">00</span>
              <span class="timer-label">seconds</span>
            </div>
          </div>
        {% endif %}

        <div class="description mobile-only">
          {% if page.metafields.custom.banner_main_description_for_mobile %}
            <p>{{ page.metafields.custom.banner_main_description_for_mobile }}</p>
          {% else %} 
            <p>Choose an at-home test kit to find the missing pieces of your identity and explore your African country of origin.</p>
          {% endif %}
        </div>
        
        {% comment %} {% if section.settings.button_text != blank %}
          <a href="{{ section.settings.button_url }}" class="button">{{ section.settings.button_text }} </a>
        {% endif %} {% endcomment %}

        {% assign dynamicButtonText = page.metafields.custom.dynamic_button_text %}
        {% assign dynamicButtonUrl = page.metafields.custom.dynamic_button_url %}
        {% assign sectionButtonText = section.settings.button_text %}
        {% assign sectionButtonUrl = section.settings.button_url %}
      
        {% if dynamicButtonText != blank or sectionButtonText != blank %}
      
          {% if dynamicButtonText != blank and dynamicButtonUrl != blank %}
            <a href="{{ dynamicButtonUrl }}" class="button">{{ dynamicButtonText }} </a>
          {% elsif dynamicButtonText != blank and dynamicButtonUrl == blank %}
            <a href="{{ sectionButtonUrl }}" class="button">{{ dynamicButtonText }} </a>
          {% elsif  dynamicButtonText == blank and  dynamicButtonUrl != blank %}
            <a href="{{ dynamicButtonUrl }}" class="button">{{ sectionButtonText }} </a>
            {% elsif sectionButtonText != blank and  sectionButtonUrl != blank %}
              <a href="{{ sectionButtonUrl }}" class="button">{{ sectionButtonText }} </a>
          {% elsif dynamicButtonText == blank and dynamicButtonUrl == blank %}
            <a href="#" class="button">{{ sectionButtonText }}</a>
          {% endif %} 
      
        {% endif %}

        <div class="button_bottom_text">

      <p class="affirm-as-low-as font-weight-bold" data-page-type="product" data-amount="{{ page.metafields.custom.dynamic_banner_regular_price | times: 100 }}"></p>

       <!--   <div class="payment-icon">
            <svg width="57" height="28" viewBox="0 0 57 28" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="0.5" width="56" height="28" rx="2.33333" fill="white"/>
              <g clip-path="url(#clip0_2512_2241)">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9074 13.213C10.8402 13.213 9.60297 13.7034 8.93241 14.212L9.5463 15.4471C10.0846 14.9749 10.9535 14.5753 11.7374 14.5753C12.4835 14.5753 12.8896 14.8114 12.8896 15.2928C12.8896 15.6197 12.6157 15.7832 12.1057 15.8467C10.1791 16.0829 8.66797 16.5915 8.66797 18.0173C8.66797 19.1435 9.50852 19.8337 10.8119 19.8337C11.7469 19.8337 12.578 19.3342 12.9746 18.6803V19.652H14.7124V15.5743C14.7124 13.8942 13.4941 13.213 11.9074 13.213ZM11.2557 18.5259C10.7646 18.5259 10.5191 18.2988 10.5191 17.9174C10.5191 17.209 11.3407 16.9729 12.8424 16.8185C12.8519 17.763 12.1813 18.5259 11.2557 18.5259Z" fill="black"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M31.0972 14.4479V13.3944H29.3594V19.6518H31.2199V16.6366C31.2199 15.2017 32.1172 14.7839 32.7499 14.7839C32.9955 14.7839 33.326 14.8566 33.5433 15.011L33.8833 13.3581C33.5999 13.24 33.2977 13.2128 33.0522 13.2128C32.0983 13.2128 31.4938 13.6215 31.0972 14.4479Z" fill="black"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M42.5167 13.2128C41.5344 13.2128 40.7978 13.7758 40.4105 14.3117C40.0517 13.6124 39.3055 13.2128 38.3989 13.2128C37.4166 13.2128 36.7366 13.7395 36.4155 14.3389V13.3944H34.6211V19.6518H36.4817V16.4277C36.4817 15.2743 37.1144 14.7204 37.7 14.7204C38.2289 14.7204 38.72 15.0473 38.72 15.901V19.6518H40.59V16.4277C40.59 15.2562 41.2039 14.7204 41.8178 14.7204C42.3089 14.7204 42.8283 15.0655 42.8283 15.8919V19.6518H44.6889V15.3288C44.6889 13.9212 43.7067 13.2128 42.5167 13.2128Z" fill="black"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M21.2845 12.9315V13.3946H18.4607V12.7589C18.4607 11.9325 18.9518 11.6963 19.3768 11.6963C19.6223 11.6963 19.9434 11.7508 20.2079 11.8961L20.784 10.6338C20.444 10.443 19.8868 10.2705 19.1407 10.2705C17.9507 10.2705 16.6001 10.9153 16.6001 12.9405V13.4037H15.5234V14.7842H16.6001V19.652H18.4607V14.7751H21.2845V19.652H23.1451V14.7751H24.8357V13.3946H23.1451V12.7589C23.1451 11.9325 23.6362 11.6963 24.0612 11.6963C24.5334 11.6963 24.8923 11.8961 24.8923 11.8961L25.4684 10.6338C25.4684 10.6338 24.8829 10.2705 23.8251 10.2705C22.6445 10.2614 21.2845 10.9062 21.2845 12.9315Z" fill="black"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M25.9414 13.3944H27.802V19.6518H25.9414V13.3944Z" fill="black"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M36.7862 4.66699C31.7618 4.66699 27.2851 8.01819 26.0195 12.3321H27.8423C28.9001 9.11709 32.4984 6.30172 36.7862 6.30172C41.9995 6.30172 46.4951 10.1161 46.4951 16.0556C46.4951 17.3906 46.3156 18.5894 45.9756 19.652H47.7418L47.7606 19.5975C48.0534 18.4986 48.1951 17.3089 48.1951 16.0556C48.1951 9.43496 43.1801 4.66699 36.7862 4.66699Z" fill="#4A4AF4"/>
              </g>
              <defs>
              <clipPath id="clip0_2512_2241">
              <rect width="39.6667" height="15.1667" fill="white" transform="translate(8.66797 4.66699)"/>
              </clipPath>
              </defs>
            </svg>
          </div> -->
        </div>
       <!-- <div class="arrow">
          <img src="https://cdn.shopify.com/s/files/1/2138/0103/files/Group_2873.png?v=1681281050" alt="image" loading="lazy" width="14"
          height="55">
        </div> -->
      </div>
      <div class="grid__item right-slider">
        {% assign page = page %}
        {% assign metafields = page.metafields.custom.dynamic_banner_images.value %}
        <div class="banner-carousel">
          {% if page.metafields.custom.dynamic_banner_video.value != blank %}
            <div class="{{ col_size }} block{% increment count %} video-grid section-text image-box" >
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="420" height="345" src="{{ page.metafields.custom.dynamic_banner_video.value }}" title="video">
                </iframe>
              </div>
            </div>
          {% endif %}
          {% for metafield in metafields %}
            {% comment %} <img src="{{ metafield.src | img_url: '600x600' }}" alt="{{ metafield.alt }}"> {% endcomment %}
            <div class="image-box">
              <img alt="{{ metafield.alt | escape }}"
                  class="img-fluid lazyload"
                  src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                  {% assign img = metafield.src %}
                  data-srcset="{{ img | img_url: '1500x' }} 1500w,
                          {{ img | img_url: '1200x' }} 1200w,
                          {{ img | img_url: '960x' }} 960w,
                          {{ img | img_url: '800x' }} 800w,
                          {{ img | img_url: '600x' }} 600w,
                          {{ img | img_url: '400x' }} 400w"
                          loading="lazy"
                          width="{{ img.width }}"
                          height="{{ img.height }}"
              />
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<script>

                _affirm_config={public_api_key:"U3IMI6YUAZTP8YB3",script:"https://cdn1.affirm.com/js/v2/affirm.js"};(function(l,g,m,e,a,f,b){var d,c=l[m]||{},h=document.createElement(f),n=document.getElementsByTagName(f)[0],k=function(a,b,c){return function(){a[b]._.push([c,arguments])}};c[e]=k(c,e,"set");d=c[e];c[a]={};c[a]._=[];d._=[];c[a][b]=k(c,a,b);a=0;for(b="set add save post open empty reset on off trigger ready setProduct".split(" ");a<b.length;a++)d[b[a]]=k(c,e,b[a]);a=0;for(b=["get","token","url","items"];a<b.length;a++)d[b[a]]=function(){};h.async=!0;h.src=g[f];n.parentNode.insertBefore(h,n);delete g[f];d(g);l[m]=c})(window,_affirm_config,"affirm","checkout","ui","script","ready");
                // Use your live public API Key and https://cdn1.affirm.com/js/v2/affirm.js script to point to Affirm production environment.
 

</script>
<script>
  $('.banner-carousel').slick({
    infinite: true,
    slidesToShow: 1,
    slidesToScroll: 1,
    dots: false,
    arrows: true
  });

</script>

<script>
  // Function to update the timer display
  function updateTimer() {
    // Get the latest settings from the admin
    const targetHour = {{ section.settings.target_hour | default: 0 }};
    const targetMinute = {{ section.settings.target_minute | default: 0 }};
    const targetSecond = {{ section.settings.target_second | default: 0 }};

    // Calculate the target time as the current day's midnight (00:00:00)
    const targetTime = new Date().setHours(targetHour, targetMinute, targetSecond);

    // Get the elapsed time from localStorage or set it to 0
    let elapsedTime = parseInt(localStorage.getItem('timerElapsedTime')) || 0;

    // Calculate the remaining time based on the target time and elapsed time
    let totalSeconds = parseInt(targetTime / 1000 - Math.floor(Date.now() / 1000) - elapsedTime);

    if (totalSeconds <= 0) {
      // Timer has reached 00:00:00, you can choose to remove the timer here or take any other action
      document.getElementById('countdown-timer').style.display = 'none';

      let display_message = "{{ section.settings.display_message }}";

      if(display_message == "")
      {
        document.getElementById('countdown-heading').style.display = 'none';
      } else {
        document.getElementById('countdown-heading').textContent = display_message;
      }
      return;
    }

    const hours = Math.floor(totalSeconds / 3600);
    const minutes = Math.floor((totalSeconds % 3600) / 60);
    const seconds = totalSeconds % 60;

    // Update the timer display
    document.getElementById('timer-hours').textContent = hours.toString().padStart(2, '0');
    document.getElementById('timer-minutes').textContent = minutes.toString().padStart(2, '0');
    document.getElementById('timer-seconds').textContent = seconds.toString().padStart(2, '0');
  }

  // Update the timer when the page loads to start the countdown immediately
  updateTimer();

  // Update the timer every second
  setInterval(updateTimer, 1000);

  // Function to listen for changes in Shopify admin settings
  function listenForSettingChanges() {
    const settingsObserver = new MutationObserver(function () {
      // Update the timer when the Shopify admin settings change
      updateTimer();
    });

    // Target the Shopify admin settings container
    const settingsContainer = document.querySelector('.shopify-section-settings');

    if (settingsContainer) {
      // Observe changes in the settings container
      settingsObserver.observe(settingsContainer, { childList: true, subtree: true });
    }
  }

  // Listen for changes in Shopify admin settings
  listenForSettingChanges();

  // Function to reset the timer when the Shopify admin value like hour, minutes or seconds change and restart the timer
  function resetTimer() {
    // Get the latest settings from the admin
    const targetHour = {{ section.settings.target_hour | default: 0 }};
    const targetMinute = {{ section.settings.target_minute | default: 0 }};
    const targetSecond = {{ section.settings.target_second | default: 0 }};

    // Calculate the target time as the current day's midnight (00:00:00)
    const targetTime = new Date().setHours(targetHour, targetMinute, targetSecond);

    // Update the local storage timer
    localStorage.setItem('timerInitialTargetTime', targetTime / 1000);
    localStorage.setItem('timerElapsedTime', 0);

    // Restart the countdown timer
    updateTimer();
  }

  // Listen for changes in Shopify admin settings and reset the timer if they change
  listenForSettingChanges();
</script>



{% schema %}
{
  "name": "Matriclan Banner",
  "tag": "section",
  "class": "matriclan-banner",
  "settings": [
    {
      "type": "text",
      "id": "regular_price",
      "label": "Regular Price",
      "default": "299"
    },
    {
      "type": "text",
      "id": "discount_price",
      "label": "Discount Price",
      "default": "239"
    },
    {
      "type": "checkbox",
      "id": "enable_timer",
      "label": "Enable/Disable Timer",
      "default": true
    },
    {
      "type": "header",
      "content": "Note",
      "info": "A timer has been set based on the current time to a target hours. The timer is counting the difference between the current time and the target time (Based on 24 hours format). Ex: The current date-time is 15 September 2023 - 10:00:00am, and if you want to set the timer until 9:00:00pm then set it to 21 - hours, 00 - minutes, 00 - seconds. (Countdown shows 10:59:59)."
    },
    {
      "type": "text",
      "id": "target_hour",
      "label": "Target Hour"
    },
    {
      "type": "text",
      "id": "target_minute",
      "label": "Target Minute"
    },
    {
      "type": "text",
      "id": "target_second",
      "label": "Target Second"
    },
    {
      "type": "header",
      "content": "Note",
      "info": "The countdown timer is hidden when the Hour, Minute, and Second are 00, or if the timer is set to the previous time."
    },
    {
      "type": "text",
      "id": "display_message",
      "label": "Display message when timer ends",
      "default": "The Promotion Has Ended"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    }
  ],
  "presets": [
    {
      "name": "Matriclan Banner"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
