<div class="title-box">
  {% if page.metafields.custom.dynamic_comparison_heading %}  
    <h2 class="section-title">{{ page.metafields.custom.dynamic_comparison_heading }}</h2>
  {% else %}
    <h2 class="section-title">Better. Bolder. Blacker.
    Choose African Ancestry</h2>
  {% endif %}
</div>

<div class="page-width">
  <div class="grid">
    <div class="grid__item left-content">
      <div class="logo image-box">
        <img src="https://cdn.shopify.com/s/files/1/2138/0103/files/Group_2884.png?v=1681370207" alt="image" loading="lazy" width="{{ image.width }}"
        height="{{ image.height }}">
      </div>
      <div class="icon-with-text">
        <div class="icon">
          <img src="https://cdn.shopify.com/s/files/1/2138/0103/files/Group_2903.png?v=1681370350" alt="image" loading="lazy" width="{{ image.width }}"
          height="{{ image.height }}">
        </div>
        <div class="text">
          <p>Identifies your present-day African country of origin</p>
        </div>
      </div>
      <div class="icon-with-text">
        <div class="icon">
          <img src="https://cdn.shopify.com/s/files/1/2138/0103/files/Group_2895.png?v=1681370350" alt="image" loading="lazy" width="{{ image.width }}"
          height="{{ image.height }}">
        </div>
        <div class="text">
          <p>Results can be shared with your entire family</p>
        </div>
      </div>
      <div class="icon-with-text">
        <div class="icon">
          <img src="https://cdn.shopify.com/s/files/1/2138/0103/files/Group_2901.png?v=1681370350" alt="image" loading="lazy" width="{{ image.width }}"
          height="{{ image.height }}">
        </div>
        <div class="text">
          <p>Database contains over 33,000 African lineages across 35 countries</p>
        </div>
      </div>
      <div class="icon-with-text">
        <div class="icon">
          <img src="https://cdn.shopify.com/s/files/1/2138/0103/files/Group_2899.png?v=1681370350" alt="image" loading="lazy" width="{{ image.width }}"
          height="{{ image.height }}">
        </div>
        <div class="text">
          <p>100% Black-owned including Black geneticists and staff</p>
        </div>
      </div>
    </div>
    <div class="grid__item right-content">
      <div class="logo image-box">
        <img src="https://cdn.shopify.com/s/files/1/2138/0103/files/Other_DNA_Companies.png?v=1681370668" alt="image" loading="lazy" width="{{ image.width }}"
        height="{{ image.height }}">
      </div>
      <div class="icon-with-text">
        <div class="icon">
          <img src="https://cdn.shopify.com/s/files/1/2138/0103/files/Group_2904.png?v=1681370350" alt="image" loading="lazy" width="{{ image.width }}"
          height="{{ image.height }}">
        </div>
        <div class="text">
          <p>Reveals what percentage of<br> your Ancestry is African</p>
        </div>
      </div>
      <div class="icon-with-text">
        <div class="icon">
          <img src="https://cdn.shopify.com/s/files/1/2138/0103/files/Group_2896.png?v=1681370350" alt="image" loading="lazy" width="{{ image.width }}"
          height="{{ image.height }}">
        </div>
        <div class="text">
          <p>Results can only be shared by siblings with the same two parents</p>
        </div>
      </div>
      <div class="icon-with-text">
        <div class="icon">
          <img src="https://cdn.shopify.com/s/files/1/2138/0103/files/Group_2902.png?v=1681370350" alt="image" loading="lazy" width="{{ image.width }}"
          height="{{ image.height }}"> 
        </div>
        <div class="text">
          <p>Database contains fewer than 3000 African lineages across 10 African regions</p>
        </div>
      </div>
      <div class="icon-with-text">
        <div class="icon">
          <img src="https://cdn.shopify.com/s/files/1/2138/0103/files/Group_fdb0df5c-44ea-401a-8066-d8f37781120f.png?v=1681370350" alt="image" loading="lazy" width="{{ image.width }}"
          height="{{ image.height }}">
        </div>
        <div class="text">
          <p>Publicly traded with no Black ownership or geneticists</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Matriclan Comparison",
  "tag": "section",
"class": "matriclan-comparison",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Matriclan Comparison"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
