<div class="page-width">
  <div class="title-box">
    <h2 class="section-title">What you get with the product</h2>
    <p class="subtitle">Your mtDNA has power. It provides energy for every cell in your body. Inherited strictly from your mother and her mothers, mtDNA also has a series of unique markers that tell a profound story about you and your family. So you will share your ancestry results with everyone in the family that descends from your maternal grandmother. It is a gift of legacy for the entire family line.</p>
  </div>

  <div class="what-you-box-wrapper">
      <div class="image-box">
          <div class="image_bg">
            <img src="{{'image-43.png' | asset_url }}" alt="image" loading="lazy" width="934"
              height="934">
          </div>
      </div>
      <div class="text-box">
        <ul>
          <li>Your present-day African country and ethnic group, if your result is African.</li>
          <li>Dual Citizenship (if your results are found in Sierra Leone)</li>
          <li>Personalized Certificate Of Ancestry.</li>
          <li>A new sense of pride in your identity and a deeper connection with your Ancestors.</li>
          <li>HVR1, HVR2 & HVR3 (hypervariable region) designations and mitochondrial haplogroup.</li>
          <li>“Guide to African History and Cultures” E-book.</li>
          <li>Exclusive access to Online Community on Facebook.</li>
        </ul>
      </div>
      {% if section.settings.button_text != blank %}
        <a href="{{ section.settings.button_url }}" class="save-20-per-button">{{ section.settings.button_text }}</a>
      {% endif %}
  </div>
  
  <div class="what-carousel" style="display:none">
    <div class="item">
      <div class="image-box">
        <img src="https://cdn.shopify.com/s/files/1/2138/0103/files/image_43.png?v=1681300615" alt="image" loading="lazy" width="{{ image.width }}"
          height="{{ image.height }}">
      </div>
      <div class="text-box">
        <div class="icon">
          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 0C6.75 0 0 6.75 0 15C0 23.25 6.75 30 15 30C23.25 30 30 23.25 30 15C30 6.75 23.25 0 15 0ZM12 22.5L4.5 15L6.615 12.885L12 18.255L23.385 6.87L25.5 9L12 22.5Z" fill="#FF7050"/>
          </svg>
        </div>
        <h2 class="title">Personalized Certificate Of Ancestry.</h2>
        <div class="description">
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</p>
        </div>        
      </div>
    </div>
    <div class="item">
      <div class="image-box">
        <img src="https://cdn.shopify.com/s/files/1/2138/0103/files/image_43.png?v=1681300615" alt="image" loading="lazy" width="{{ image.width }}"
          height="{{ image.height }}">
      </div>
      <div class="text-box">
        <div class="icon">
          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 0C6.75 0 0 6.75 0 15C0 23.25 6.75 30 15 30C23.25 30 30 23.25 30 15C30 6.75 23.25 0 15 0ZM12 22.5L4.5 15L6.615 12.885L12 18.255L23.385 6.87L25.5 9L12 22.5Z" fill="#FF7050"/>
          </svg>
              </div>
          <h2 class="title">Personalized Certificate Of Ancestry.</h2>
          <div class="description">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</p>
          </div>
        
      </div>
    </div>
    <div class="item">
      <div class="image-box">
        <img src="https://cdn.shopify.com/s/files/1/2138/0103/files/image_43.png?v=1681300615" alt="image" loading="lazy" width="{{ image.width }}"
          height="{{ image.height }}">
      </div>
      <div class="text-box">
        <div class="icon">
          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 0C6.75 0 0 6.75 0 15C0 23.25 6.75 30 15 30C23.25 30 30 23.25 30 15C30 6.75 23.25 0 15 0ZM12 22.5L4.5 15L6.615 12.885L12 18.255L23.385 6.87L25.5 9L12 22.5Z" fill="#FF7050"/>
          </svg>
              </div>
          <h2 class="title">Personalized Certificate Of Ancestry.</h2>
          <div class="description">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</p>
          </div>
        
      </div>
    </div>
    <div class="item">
      <div class="image-box">
        <img src="https://cdn.shopify.com/s/files/1/2138/0103/files/image_43.png?v=1681300615" alt="image" loading="lazy" width="{{ image.width }}"
          height="{{ image.height }}">
      </div>
      <div class="text-box">
        <div class="icon">
          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 0C6.75 0 0 6.75 0 15C0 23.25 6.75 30 15 30C23.25 30 30 23.25 30 15C30 6.75 23.25 0 15 0ZM12 22.5L4.5 15L6.615 12.885L12 18.255L23.385 6.87L25.5 9L12 22.5Z" fill="#FF7050"/>
          </svg>
              </div>
          <h2 class="title">Personalized Certificate Of Ancestry.</h2>
          <div class="description">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</p>
          </div>
        
      </div>
    </div>
  </div>
</div>

<script>
  $('.what-carousel').slick({
    infinite: true,
    slidesToShow: 1,
    slidesToScroll: 1,
    dots: false,
    arrows: true
  });

</script>

{% schema %}
{
  "name": "Matriclan What You Got",
  "tag": "section",
"class": "matriclan-what-you-got",
  "settings": [
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Save 10% Now"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Matriclan What You Got"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
